/**
 * @file
 * Styles for Live Content block.
 */
#live-content-feed-items ul li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#live-content-feed-items ul {
  list-style: none;
}
