{#
/**
 * @file
 * Default theme implementation for live content feed items list.
 *
 * Available variables:
 * - items: An list of items to display.
 */
#}
<div id="live-content-feed-items">
  <ul>
    {% for item in items %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>
</div>